interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/models?limit=5&offset=0&version=2023-11-22
  response:
    body:
      string: '{"results":[{"id":"sentence-transformers/all-minilm-l6-v2","name":"all-minilm-l6-v2","size":"10M","label":"all-minilm-l6-v2
        (10M)","source_model_id":null,"is_live":false,"token_limits":[{"beam_width":0,"token_limit":256}],"task_ids":["embeddings"]},{"id":"codellama/codellama-34b-instruct","name":"codellama-34b-instruct","size":"34B","label":"codellama-34b-instruct
        (34B)","source_model_id":null,"is_live":true,"warning":"{% llamaWarning /%}","token_limits":[{"beam_width":0,"token_limit":16384}],"task_ids":["generation"]},{"id":"codellama/codellama-70b-instruct","name":"codellama-70b-instruct","size":"70B","label":"codellama-70b-instruct
        (70B)","source_model_id":null,"is_live":true,"warning":"{% llamaWarning /%}","token_limits":[{"beam_width":0,"token_limit":16384}],"task_ids":["generation"]},{"id":"tiiuae/falcon-180b","name":"falcon-180b","size":"180B","label":"falcon-180b
        (180B)","source_model_id":null,"is_live":true,"token_limits":[{"beam_width":0,"token_limit":4096}],"task_ids":["generation"]},{"id":"tiiuae/falcon-40b","name":"falcon-40b","size":"40B","label":"falcon-40b
        (40B)","source_model_id":null,"is_live":true,"token_limits":[{"beam_width":0,"token_limit":8192}],"task_ids":["generation"]}],"total_count":40}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/models?offset=5&version=2023-11-22
  response:
    body:
      string: '{"results":[{"id":"ibm/falcon-40b-8lang-instruct","name":"falcon-40b-8lang-instruct","size":"40B","label":"falcon-40b-8lang-instruct
        (40B)","source_model_id":null,"is_live":true,"token_limits":[{"beam_width":0,"token_limit":8192}],"task_ids":["generation"]},{"id":"google/flan-t5-xl","name":"flan-t5-xl","size":"3B","label":"flan-t5-xl
   [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/models?version=2023-11-22
  response:
    body:
      string: '{"results":[{"id":"sentence-transformers/all-minilm-l6-v2","name":"all-minilm-l6-v2","size":"10M","label":"all-minilm-l6-v2
        (10M)","source_model_id":null,"is_live":false,"token_limits":[{"beam_width":0,"token_limit":256}],"task_ids":["embeddings"]},{"id":"codellama/codellama-34b-instruct","name":"codellama-34b-instruct","size":"34B","label":"code[...]
