interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/models/google%2Fflan-t5-xl?version=2024-01-10
  response:
    body:
      string: '{"result":{"id":"google/flan-t5-xl","name":"flan-t5-xl","developer":"google","size":"3B","label":"flan-t5-xl
        (3B)","disabled":false,"preferred":true,"description":"flan-t5-xl (3B) is
        a 3 billion parameter model based on the Flan-T5 family. It is a pretrained
        T5: an encoder-decoder model pre-trained on a mixture of supervised / unsupervised
        tasks converted into a text-to-text format, and fine-tuned on the Fine-tuned
        LAnguage Net ([FLAN](https://arxiv.org/pdf/2109.01652.pdf)) with instructions
        for better zero-shot and few-shot performance. \n\n- Tasks: Research on zero-shot
        or in-context few-shot learning NLP tasks such as reasoning or question answering.\n-
        Limitations: Fine-tuned on data which was not filtered for safety and fairness.\n-
        Languages: English, Spanish, Japanese, Persian, Hindi, [view all 60...](https://huggingface.co/google/flan-t5-xl)\n-
        Type: Encoder-decoder\n- License: [Apache 2.0](https://www.apache.org/licenses/LICENSE-2.0.txt)\n-
        Repository: [google-research/t5x](https://github.com/google-research/t5x)\n-
        Paper: [Scaling Instruction-Finetuned Language Models](https://arxiv.org/abs/2210.11416)\n-
        More Information: [from Huggingface](https://huggingface.co/google/flan-t5-xl)","tags":[],"source_model_id":null,"is_live":true,"token_limits":[{"beam_width":0,"token_limit":4096}],"tasks":[{"id":"classification","name":"Classification","json_example":"[\n  {\n    \"input\":
        \"<text>\",\n    \"output\": \"<text>\"\n  },\n  {\n    \"input\": \"<text>\",\n    \"output\":
        \"<text>\"\n  },\n  {\n    \"input\": \"<text>\",\n    \"output\": \"<text>\"\n  }\n]","jsonl_example":"{\"input\":\"<text>\",\"output\":\"<text>\"}\n{\"input\":\"<text>\",\"output\":\"<text>\"}\n{\"input\":\"<text>\",\"output\":\"<text>\"}","csv_example":"input,output\n<text>,<text>\n<text>,<text>\n<text>,<text>","verbalizer":"classify
        { \"label 1\", \"label 2\" } Input: {{input}} Output:","file_format_id":1,"tune":true},{"id":"summarization","name":"Summarization","json_example":"[\n  {\n    \"input\":
        \"<text>\",\n    \"output\": \"<text>\"\n  },\n  {\n    \"input\": \"<text>\",\n    \"output\":
        \"<text>\"\n  },\n  {\n    \"input\": \"<text>\",\n    \"output\": \"<text>\"\n  }\n]","jsonl_example":"{\"input\":\"<text>\",\"output\":\"<text>\"}\n{\"input\":\"<text>\",\"output\":\"<text>\"}\n{\"input\":\"<text>\",\"output\":\"<text>\"}","csv_example":"input,output\n<text>,<text>\n<text>,<text>\n<text>,<text>","verbalizer":"{{input}}","file_format_id":1,"tune":true},{"id":"generation","name":"Generation","json_example":"[\n  {\n    \"input\":
        \"<text>\",\n    \"output\": \"<text>\"\n  },\n  {\n    \"input\": \"<text>\",\n    \"output\":
        \"<text>\"\n  },\n  {\n    \"input\": \"<text>\",\n    \"output\": \"<text>\"\n  }\n]","jsonl_example":"{\"input\":\"<text>\",\"output\":\"<text>\"}\n{\"input\":\"<text>\",\"output\":\"<text>\"}\n{\"input\":\"<text>\",\"output\":\"<text>\"}","csv_example":"input,output\n<text>,<text>\n<text>,<text>\n<text>,<text>","verbalizer":"{{input}}","file_format_id":1,"tune":true}],"model_family":{"id":3,"name":"FLAN-T5"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2024-01-10'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '23'
      x-ratelimit-reset:
      - '0'
    status:
      code: 200
      message: OK
version: 1
