interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/models?limit=5&offset=0&version=2023-11-22
  response:
    body:
      string: '{"results":[{"id":"flan-t5-xl-mpt-HINOMFFx-2023-05-27-14-24-36","name":"Tune
        #5 flan-t5-xl (3B)","size":"3B","label":"Tune #5 flan-t5-xl (3B) (3B)","source_model_id":"google/flan-t5-xl","is_live":true,"facets":[{"id":"DEV-test","name":"DEV
        TEST","type":"model_type"},{"id":"English","name":"English","type":"language"}],"token_limits":[{"beam_width":0,"token_limit":4096}],"task_ids":["classification"]},{"id":"sentence-transformers/all-minilm-l6-v2","name":"all-minilm-l6-v2","size":"10M","label":"all-minilm-l6-v2
        (10M)","source_model_id":null,"is_live":false,"facets":[],"token_limits":[],"task_ids":["rerank","sentence-similarity","embeddings"]},{"id":"baai/bge-large-en-v1.5","name":"bge-large-en-v1.5","size":"335M","label":"bge-large-en-v1.5
        (335M)","source_model_id":null,"is_live":true,"facets":[],"token_limits":[{"beam_width":0,"token_limit":512}],"task_ids":["embeddings","sentence-similarity","rerank"]},{"id":"cerebras/cerebras-gpt-13b","name":"cerebras-gpt-13b","size":"13B","label":"cerebras-gpt-13b
        (13B)","source_model_id":null,"is_live":false,"facets":[],"token_limits":[],"task_ids":[]},{"id":"salesforce/codegen2-16b","name":"codegen2-16b","size":"16B","label":"codegen2-16b
        (16B)","source_model_id":null,"is_live":false,"facets":[],"token_limits":[],"task_ids":[]}],"total_count":"41"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/models?offset=5&version=2023-11-22
  response:
    body:
      string: '{"results":[{"id":"codellama/codellama-34b-instruct","name":"codellama-34b-instruct","size":"34B","label":"codellama-34b-instruct
        (34B)","source_model_id":null,"is_live":false,"warning":"{% llamaWarning /%}","facets":[{"id":"Code","name":"Code","type":"model_type"}],"token_limits":[],"task_ids":[]},{"id":"codellama/codellama-70b-instruct","name":"codellama-70b-instruct","size":"70B","label":"codellama-70b-instruct
        (70B)","source_model_id":null,"is_live":true,"facets":[],"token_limits":[{"beam_width":0,"token_limit":16384}],"task_ids":["generation","chat"]},{"id":"ibm/coga-3b-0.3.8","name":"coga-3b-0.3.8","size":"3B","label":"coga-3b-0.3.8
        (3B)","source_model_id"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/models?version=2023-11-22
  response:
    body:
      string: '{"results":[{"id":"flan-t5-xl-mpt-HINOMFFx-2023-05-27-14-24-36","name":"Tune
        #5 flan-t5-xl (3B)","size":"3B","label":"Tune #5 flan-t5-xl (3B) (3B)","source_model_id":"google/flan-t5-xl","is_live":true,"facets":[{"id":"DEV-test","name":"DEV
        TEST","type":"model_type"},{"id":"English","name":"English","type":"language"}],"token_limits":[{"be[...]
