interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/models?limit=5&offset=0&version=2023-11-22
  response:
    content: '{"results":[{"id":"cerebras/cerebras-gpt-13b","name":"cerebras-gpt-13b","size":"13B","label":"cerebras-gpt-13b
      (13B)","source_model_id":null,"is_live":false,"warning":null,"token_limits":[{"beam_width":0,"token_limit":2048}],"task_ids":[]},{"id":"salesforce/codegen2-16b","name":"codegen2-16b","size":"16B","label":"codegen2-16b
      (16B)","source_model_id":null,"is_live":false,"warning":null,"token_limits":[{"beam_width":0,"token_limit":2048}],"task_ids":[]},{"id":"codellama/codellama-34b-instruct","name":"codellama-34b-instruct","size":"34B","label":"codellama-34b-instruct
      (34B)","source_model_id":null,"is_live":false,"warning":null,"token_limits":[{"beam_width":0,"token_limit":16384}],"task_ids":[]},{"id":"ibm/coga-3b-0.3.8","name":"coga-3b-0.3.8","size":"3B","label":"coga-3b-0.3.8
      (3B)","source_model_id":null,"is_live":false,"warning":null,"token_limits":[{"beam_width":0,"token_limit":2048},{"beam_width":1,"token_limit":2048},{"beam_width":2,"token_limit":2048},{"beam_width":3,"token_limit":2000}],"task_ids":[]},{"id":"allenai/cosmo-xl","name":"cosmo-xl","size":"3B","label":"cosmo-xl
      (3B)","source_model_id":null,"is_live":false,"warning":null,"token_limits":[{"beam_width":0,"token_limit":2048}],"task_ids":[]}],"total_count":34}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '23'
      x-ratelimit-reset:
      - '0'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/models?offset=5&version=2023-11-22
  response:
    content: '{"results":[{"id":"tiiuae/falcon-40b","name":"falcon-40b","size":"40B","label":"falcon-40b
      (40B)","source_model_id":null,"is_live":true,"warning":null,"token_limits":[{"beam_width":0,"token_limit":8192}],"task_ids":[]},{"id":"ibm/falcon-40b-8lang-instruct","name":"falcon-40b-8lang-instruct","size":"40B","label":"falcon-40b-8lang-instruct
      (40B)"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/models?version=2023-11-22
  response:
    content: '{"results":[{"id":"cerebras/cerebras-gpt-13b","name":"cerebras-gpt-13b","size":"13B","label":"cerebras-gpt-13b
      (13B)","source_model_id":null,"is_live":false,"warning":null,"token_limits":[{"beam_width":0,"token_limit":2048}],"task_ids":[]},{"id":"salesforce/codegen2-16b","name":"codegen2-16b","size":"16B","label":"codegen2-16b
      (16B)","source_model_id":n[...]
