interactions:
- request:
    body: "--BOUNDARY\r\nContent-Disposition: form-data; name=\"purpose\"\r\n\r\ntemplate\r\n--BOUNDARY\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"file.json\"\r\nContent-Type: application/json\r\n\r\n{\"data\":
      \"EXAMPLE TEMPLATE {{variable}}}\"}\r\n--BOUNDARY--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=BOUNDARY
    method: POST
    uri: https://api.com/v2/files?version=2024-05-13
  response:
    body:
      string: '{"result":{"id":"4b8c5158-4067-412e-bd46-7dc69cc961c4","bytes":42,"file_name":"file.json","purpose":"template","storage_provider_location":"us-east","created_at":"2024-05-21T09:58:51.000Z","updated_at":"2024-05-21T09:58:51.000Z","file_formats":[],"descendants":[],"metadata":null}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2024-05-13'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/files?search=file.json&version=2024-05-13
  response:
    body:
      string: '{"results":[{"id":"4b8c5158-4067-412e-bd46-7dc69cc961c4","bytes":"42","file_name":"file.json","purpose":"template","storage_provider_location":"us-east","created_at":"2024-05-21T09:58:51.000Z","updated_at":"2024-05-21T09:58:51.000Z","file_formats":[],"descendants":[]}],"total_count":1}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2024-05-13'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '23'
      x-ratelimit-reset:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/files/4b8c5158-4067-412e-bd46-7dc69cc961c4?version=2024-05-13
  response:
    body:
      string: '{"result":{"id":"4b8c5158-4067-412e-bd46-7dc69cc961c4","bytes":"42","file_name":"file.json","purpose":"template","storage_provider_location":"us-east","created_at":"2024-05-21T09:58:51.000Z","updated_at":"2024-05-21T09:58:51.000Z","file_formats":[],"descendants":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2024-05-13'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/files/4b8c5158-4067-412e-bd46-7dc69cc961c4/content?version=2023-11-22
  response:
    body:
      string: '{"data": "EXAMPLE TEMPLATE {{variable}}}"}'
    headers:
      content-type:
      - application/json
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '23'
      x-ratelimit-reset:
      - '0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/files?search=file.json&version=2024-05-13
  response:
    body:
      string: '{"results":[],"total_count":0}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2024-05-13'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
version: 1
