interactions:
- request:
    body: "--BOUNDARY\r\nContent-Disposition: form-data; name=\"purpose\"\r\n\r\ntemplate\r\n--BOUNDARY\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"file.json\"\r\nContent-Type: application/json\r\n\r\n{\"data\":
      \"EXAMPLE TEMPLATE {{variable}}}\"}\r\n--BOUNDARY--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=BOUNDARY
    method: POST
    uri: https://api.com/v2/files?version=2023-12-15
  response:
    content: '{"result":{"id":"042eb275-ebc9-41a8-8bb5-bc4a6bd9fad6","bytes":42,"file_name":"file.json","purpose":"template","storage_provider_location":"us-east","created_at":"2024-01-05T09:57:28.000Z","file_formats":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-12-15'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/files?search=file.json&version=2023-12-15
  response:
    content: '{"results":[{"id":"042eb275-ebc9-41a8-8bb5-bc4a6bd9fad6","bytes":"42","file_name":"file.json","purpose":"template","storage_provider_location":"us-east","created_at":"2024-01-05T09:57:28.000Z","file_formats":[]}],"total_count":1}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-12-15'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/files/042eb275-ebc9-41a8-8bb5-bc4a6bd9fad6?version=2023-12-15
  response:
    content: '{"result":{"id":"042eb275-ebc9-41a8-8bb5-bc4a6bd9fad6","bytes":"42","file_name":"file.json","purpose":"template","storage_provider_location":"us-east","created_at":"2024-01-05T09:57:28.000Z","file_formats":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-12-15'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '23'
      x-ratelimit-reset:
      - '0'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/files/042eb275-ebc9-41a8-8bb5-bc4a6bd9fad6/content?version=2023-11-22
  response:
    content: '{"data": "EXAMPLE TEMPLATE {{variable}}}"}'
    headers:
      content-type:
      - application/json
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/files?search=file.json&version=2023-12-15
  response:
    content: '{"results":[],"total_count":0}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-12-15'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status_code: 200
version: 1
