interactions:
- request:
    body: "--BOUNDARY\r\nContent-Disposition: form-data; name=\"purpose\"\r\n\r\ntemplate\r\n--BOUNDARY\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"file.json\"\r\nContent-Type: application/json\r\n\r\n{\"data\":
      \"EXAMPLE TEMPLATE {{variable}}}\"}\r\n--BOUNDARY--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=BOUNDARY
    method: POST
    uri: https://api.com/v2/files?version=2023-12-15
  response:
    body:
      string: '{"result":{"id":"28a0b804-0176-40d8-b0cb-386c9d7559d0","bytes":42,"file_name":"file.json","purpose":"template","storage_provider_location":"us-east","created_at":"2024-03-06T20:48:35.000Z","updated_at":"2024-03-06T20:48:35.000Z","file_formats":[],"descendants":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-12-15'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/files?search=file.json&version=2023-12-15
  response:
    body:
      string: '{"results":[{"id":"28a0b804-0176-40d8-b0cb-386c9d7559d0","bytes":"42","file_name":"file.json","purpose":"template","storage_provider_location":"us-east","created_at":"2024-03-06T20:48:35.000Z","updated_at":"2024-03-06T20:48:35.000Z","file_formats":[],"descendants":[]}],"total_count":1}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-12-15'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/files/28a0b804-0176-40d8-b0cb-386c9d7559d0?version=2023-12-15
  response:
    body:
      string: '{"result":{"id":"28a0b804-0176-40d8-b0cb-386c9d7559d0","bytes":"42","file_name":"file.json","purpose":"template","storage_provider_location":"us-east","created_at":"2024-03-06T20:48:35.000Z","updated_at":"2024-03-06T20:48:35.000Z","file_formats":[],"descendants":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-12-15'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '23'
      x-ratelimit-reset:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/files/28a0b804-0176-40d8-b0cb-386c9d7559d0/content?version=2023-11-22
  response:
    body:
      string: '{"data": "EXAMPLE TEMPLATE {{variable}}}"}'
    headers:
      content-type:
      - application/json
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/files?search=file.json&version=2023-12-15
  response:
    body:
      string: '{"results":[],"total_count":0}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-12-15'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
version: 1
