interactions:
- request:
    body: '{"hap": {"send_tokens": true, "threshold": 0.5}, "implicit_hate": {"send_tokens":
      true, "threshold": 0.5}, "input": "It tastes like poop.", "stigma": {"send_tokens":
      true, "threshold": 0.5}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.com/v2/text/moderations?version=2023-11-22
  response:
    body:
      string: '{"results":[{"hap":[{"score":0.8111816644668579,"flagged":true,"tokens":[{"token":"it","index":0,"score":0.14623324573040009},{"token":"tastes","index":3,"score":0.10760173201560974},{"token":"like","index":10,"score":0.12123600393533707},{"token":"poop","index":15,"score":0.19853028655052185},{"token":".","index":19,"score":0.07889077812433243}],"success":true,"position":{"start":0,"end":19}}],"implicit_hate":[{"score":0.9981448650360107,"flagged":true,"tokens":[{"token":"it","index":0,"score":0.11787550896406174},{"token":"tastes","index":3,"score":0.1605272889137268},{"token":"like","index":10,"score":0.07254142314195633},{"token":"poop","index":15,"score":0.10483767092227936},{"token":".","index":19,"score":0.12613795697689056}],"success":true,"position":{"start":0,"end":19}}],"stigma":[{"score":0.8026910424232483,"flagged":true,"tokens":[{"token":"it","index":0,"score":0.1775500774383545},{"token":"tastes","index":3,"score":0.11649749428033829},{"token":"like","index":10,"score":0.1322404146194458},{"token":"poop","index":15,"score":0.16683606058359146},{"token":".","index":19,"score":0.08629963546991348}],"success":true,"position":{"start":0,"end":19}}]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"hap": {"send_tokens": true, "threshold": 0.5}, "implicit_hate": {"send_tokens":
      true, "threshold": 0.5}, "input": "Ice cream sucks!", "stigma": {"send_tokens":
      true, "threshold": 0.5}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.com/v2/text/moderations?version=2023-11-22
  response:
    body:
      string: '{"results":[{"hap":[{"score":0.13099458813667297,"flagged":false,"success":true,"position":{"start":0,"end":15}}],"implicit_hate":[{"score":0.0025605005212128162,"flagged":false,"success":true,"position":{"start":0,"end":15}}],"stigma":[{"score":0.17938658595085144,"flagged":false,"success":true,"position":{"start":0,"end":15}}]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '23'
      x-ratelimit-reset:
      - '0'
    status:
      code: 200
      message: OK
version: 1
