interactions:
- request:
    body: '{"hap": {"send_tokens": true, "threshold": 0.5}, "input": "Ice cream sucks!",
      "social_bias": {"send_tokens": true, "threshold": 0.5}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.com/v2/text/moderations?version=2024-03-19
  response:
    body:
      string: '{"results":[{"hap":[{"score":0.13099458813667297,"flagged":false,"success":true,"position":{"start":0,"end":15}}],"social_bias":[{"score":0.026667388156056404,"flagged":false,"success":true,"position":{"start":0,"end":15}}]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2024-03-19'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"hap": {"send_tokens": true, "threshold": 0.5}, "input": "It tastes like
      poop.", "social_bias": {"send_tokens": true, "threshold": 0.5}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.com/v2/text/moderations?version=2024-03-19
  response:
    body:
      string: '{"results":[{"hap":[{"score":0.8111818432807922,"flagged":true,"tokens":[{"token":"it","index":0,"score":0.1462332010269165},{"token":"tastes","index":3,"score":0.10760178416967392},{"token":"like","index":10,"score":0.12123601883649826},{"token":"poop","index":15,"score":0.19853029400110245},{"token":".","index":19,"score":0.07889077812433243}],"success":true,"position":{"start":0,"end":19}}],"social_bias":[{"score":0.9442079663276672,"flagged":true,"tokens":[{"token":"it","index":0,"score":0.12584927678108215},{"token":"tastes","index":3,"score":0.14300335943698883},{"token":"like","index":10,"score":0.08753492683172226},{"token":"poop","index":15,"score":0.10974029451608658},{"token":".","index":19,"score":0.0938180685043335}],"success":true,"position":{"start":0,"end":19}}]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2024-03-19'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '23'
      x-ratelimit-reset:
      - '0'
    status:
      code: 200
      message: OK
version: 1
