interactions:
- request:
    body: '{"hap": {"send_tokens": true, "threshold": 0.5}, "implicit_hate": {"send_tokens":
      true, "threshold": 0.5}, "input": "Ice cream sucks!", "stigma": {"send_tokens":
      true, "threshold": 0.5}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.com/v2/text/moderations?version=2023-11-22
  response:
    content: '{"results":[{"hap":[{"score":0.13099461793899536,"flagged":false,"success":true,"position":{"start":0,"end":15}}],"implicit_hate":[{"score":0.0025604967959225178,"flagged":false,"success":true,"position":{"start":0,"end":15}}],"stigma":[{"score":0.17938657104969025,"flagged":false,"success":true,"position":{"start":0,"end":15}}]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '23'
      x-ratelimit-reset:
      - '0'
    status_code: 200
- request:
    body: '{"hap": {"send_tokens": true, "threshold": 0.5}, "implicit_hate": {"send_tokens":
      true, "threshold": 0.5}, "input": "It tastes like poop.", "stigma": {"send_tokens":
      true, "threshold": 0.5}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.com/v2/text/moderations?version=2023-11-22
  response:
    content: '{"results":[{"hap":[{"score":0.8111817240715027,"flagged":true,"tokens":[{"token":"it","index":0,"score":0.1462331861257553},{"token":"tastes","index":3,"score":0.1076018288731575},{"token":"like","index":10,"score":0.12123598903417587},{"token":"poop","index":15,"score":0.19853029400110245},{"token":".","index":19,"score":0.07889079302549362}],"success":true,"position":{"start":0,"end":19}}],"implicit_hate":[{"score":0.9981448650360107,"flagged":true,"tokens":[{"token":"it","index":0,"score":0.11787553876638412},{"token":"tastes","index":3,"score":0.16052716970443726},{"token":"like","index":10,"score":0.0725414827466011},{"token":"poop","index":15,"score":0.10483773425221443},{"token":".","index":19,"score":0.12613803148269653}],"success":true,"position":{"start":0,"end":19}}],"stigma":[{"score":0.8026911616325378,"flagged":true,"tokens":[{"token":"it","index":0,"score":0.1775500327348709},{"token":"tastes","index":3,"score":0.11649750918149948},{"token":"like","index":10,"score":0.1322403997182846},{"token":"poop","index":15,"score":0.16683607548475266},{"token":".","index":19,"score":0.08629968017339706}],"success":true,"position":{"start":0,"end":19}}]}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status_code: 200
version: 1
