interactions:
- request:
    body: '{"tou_accepted": false}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.com/v2/user?version=2023-11-22
  response:
    content: '{"result":{"id":924,"first_name":"Radek","last_name":"Jezek","tou_accepted":false,"generate_default":null,"data_usage_consent":true}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status_code: 200
[...]
- request:
    body: '{"tou_accepted": true}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.com/v2/user?version=2023-11-22
  response:
    content: '{"result":{"id":924,"first_name":"Radek","last_name":"Jezek","tou_accepted":true,"tou_accepted_at":"2024-01-11T16:41:21.105Z","generate_default":null,"data_usage_consent":true}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '23'
      x-ratelimit-reset:
      - '0'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/user?version=2023-11-22
  response:
    content: '{"result":{"id":924,"first_name":"Radek","last_name":"Jezek","tou_accepted":true,"tou_accepted_at":"2024-01-11T16:41:21.000Z","generate_default":null,"data_usage_consent":true}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status_code: 200
version: 1
