interactions:
- request:
    body: '{"tou_accepted": false}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.com/v2/user?version=2023-11-22
  response:
    body:
      string: '{"result":{"id":453,"first_name":"Tomas","last_name":"Dvorak","email":"tomas.dvorak@ibm.com","tou_accepted":false,"data_usage_consent":true}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"tou_accepted": true}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.com/v2/user?version=2023-11-22
  response:
    body:
      string: '{"result":{"id":453,"first_name":"Tomas","last_name":"Dvorak","email":"tomas.dvorak@ibm.com","tou_accepted":true,"tou_accepted_at":"2024-03-06T20:38:25.850Z","data_usage_consent":true}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '23'
      x-ratelimit-reset:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/user?version=2023-11-22
  response:
    body:
      string: '{"result":{"id":453,"first_name":"Tomas","last_name":"Dvorak","email":"tomas.dvorak@ibm.com","tou_accepted":true,"tou_accepted_at":"2024-03-06T20:38:26.000Z","data_usage_consent":true}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
version: 1
