interactions:
- request:
    body: '{"content": "My system prompt description", "name": "My system prompt"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.com/v2/system_prompts?version=2023-11-22
  response:
    body:
      string: '{"result":{"id":40,"name":"My system prompt","content":"My system prompt
        description","created_at":"2024-01-27T10:53:55.000Z","type":"private","author":{"id":453,"first_name":"Tomas","last_name":"Dvorak"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/system_prompts/40?version=2023-11-22
  response:
    body:
      string: '{"result":{"id":40,"name":"My system prompt","content":"My system prompt
        description","created_at":"2024-01-27T10:53:55.000Z","type":"private","author":{"id":453,"first_name":"Tomas","last_name":"Dvorak"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '23'
      x-ratelimit-reset:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/system_prompts?version=2023-11-22
  response:
    body:
      string: '{"results":[{"id":40,"name":"My system prompt","content":"My system
        prompt description","created_at":"2024-01-27T10:53:55.000Z","type":"private","author":{"id":453,"first_name":"Tomas","last_name":"Dvorak"}},{"id":38,"name":"My
        system prompt","content":"My system prompt description","created_at":"2024-01-27T10:52:51.000Z","type":"private","author":{"id":453,"first_name":"Tomas","last_name":"Dvorak"}},{"id":37,"name":"My
        system prompt","content":"My system prompt description","create[...]
[...]
