interactions:
- request:
    body: '{"name": "My test folder"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.com/v2/folders?version=2023-11-22
  response:
    body:
      string: '{"result":{"id":"jqN2qb7j5NjIhlYC","name":"My test folder","created_at":"2024-02-24T20:48:45.000Z","prompt_ids":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/folders/jqN2qb7j5NjIhlYC?version=2023-11-22
  response:
    body:
      string: '{"result":{"id":"jqN2qb7j5NjIhlYC","name":"My test folder","created_at":"2024-02-24T20:48:45.000Z","prompt_ids":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '23'
      x-ratelimit-reset:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/folders?version=2023-11-22
  response:
    body:
      string: '{"results":[{"id":"jqN2qb7j5NjIhlYC","name":"My test folder","created_at":"2024-02-24T20:48:45.000Z","prompt_ids":[]}],"total_count":1}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/folders?version=2023-11-22
  response:
    body:
      string: '{"results":[],"total_count":0}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
version: 1
