interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/tags?limit=5&offset=0&version=2023-11-22
  response:
    body:
      string: '{"results":[{"id":"Base","name":"Base","type":"model_type"},{"id":"Chat","name":"Chat","type":"model_type"},{"id":"Code","name":"Code","type":"model_type"},{"id":"DEV-test","name":"DEV
        TEST","type":"model_type"},{"id":"Embeddings","name":"Embeddings","type":"model_type"}],"total_count":12}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/tags?offset=5&version=2023-11-22
  response:
    body:
      string: '{"results":[{"id":"English","name":"English","type":"language"},{"id":"Instruct","name":"Instruct","type":"model_type"},{"id":"Japanese","name":"Japanese","type":"language"},{"id":"MoE","name":"Mixture
        of Experts","type":"model_type"},{"id":"Multilingual","name":"Multilingual","type":"language"},{"id":"automotive","name":"Automotive","type":"industry"},{"id":"finance","name":"Banking
        and Financial Services","type":"industry"}],"total_count":12}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '23'
      x-ratelimit-reset:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/tags?version=2023-11-22
  response:
    body:
      string: '{"results":[{"id":"Base","name":"Base","type":"model_type"},{"id":"Chat","name":"Chat","type":"model_type"},{"id":"Code","name":"Code","type":"model_type"},{"id":"DEV-test","name":"DEV
        TEST","type":"model_type"},{"id":"Embeddings","name":"Embeddings","type":"model_type"},{"id":"English","name":"English","type":"language"},{"id":"Instruct","name":"Instruct","type":"model_type"},{"id":"Japanese","name":"Japanese","type":"language"},{"id":"MoE","name":"Mixture
        of Experts","type":"model_type"},{"id":"Multilingual","name":"Multilingual","type":"language"},{"id":"automotive","name":"Automotive","type":"industry"},{"id":"finance","name":"Banking
        and Financial Services","type":"industry"}],"total_count":12}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
      x-ratelimit-limit:
      - '25'
      x-ratelimit-remaining:
      - '24'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
version: 1
