interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/text/embeddings/limits?version=2023-11-22
  response:
    body:
      string: '{"result":{"concurrency":{"limit":20,"remaining":20}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
    status:
      code: 200
      message: OK
- request:
    body: '{"input": "Hello", "model_id": "sentence-transformers/all-minilm-l6-v2"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.com/v2/text/embeddings?version=2023-11-22
  response:
    body:
      string: '{"results":[[-0.062771737575531,0.05495883896946907,0.05216483399271965,0.08579006046056747,-0.0827488973736763,-0.07457299530506134,0.06855472177267075,0.01839638128876686,-0.08201129734516144,-0.03738482668995857,0.012124953791499138,0.0035183376166969538,-0.004134362563490868,-0.04378440976142883,0.021807372570037842,-0.0051027266308665276,0.019546614959836006,-0.042348723858594894,-0.11035960167646408,0.005424540489912033,-0.05573483929038048,0.02805246226489544,-0.023158734664320946,0.028481375426054,[...]
[...]
