interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/text/embeddings/limits?version=2023-11-22
  response:
    body:
      string: '{"result":{"concurrency":{"limit":20,"remaining":20}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
    status:
      code: 200
      message: OK
- request:
    body: '{"input": "Hello", "model_id": "sentence-transformers/all-minilm-l6-v2"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.com/v2/text/embeddings?version=2023-11-22
  response:
    body:
      string: '{"results":[[-0.0627717599272728,0.05495881289243698,0.052164800465106964,0.08579008281230927,-0.0827488899230957,-0.07457295805215836,0.06855470687150955,0.018396418541669846,-0.0820113942027092,-0.037384796887636185,0.012124935165047646,0.0035184037405997515,-0.004134361632168293,-0.043784379959106445,0.021807359531521797,-0.005102710798382759,0.019546611234545708,-0.04234880208969116,-0.11035960912704468,0.005424473434686661,-0.055734895169734955,0.02805245853960514,-0.023158684372901917,0.0284813903272[...]
[...]
