interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.com/v2/text/embeddings/limits?version=2023-11-22
  response:
    body:
      string: '{"result":{"concurrency":{"limit":20,"remaining":20}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      content-version:
      - '2023-11-22'
    status:
      code: 200
      message: OK
- request:
    body: '{"input": "First document", "model_id": "sentence-transformers/all-minilm-l6-v2",
      "parameters": {"truncate_input_tokens": true}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.com/v2/text/embeddings?version=2023-11-22
  response:
    body:
      string: '{"results":[[-0.07611478865146637,0.053286295384168625,0.011630389839410782,0.02703363634645939,-0.020964650437235832,-0.0017028871225193143,-0.02678748220205307,0.04056990146636963,0.04763270914554596,0.014788346365094185,0.04339343681931496,0.07593807578086853,0.0012843846343457699,0.00855201669037342,-0.0745568573474884,0.006555262487381697,-0.018848007544875145,-0.0644168108701706,0.03469758480787277,0.06712162494659424,0.0019739633426070213,0.060395244508981705,-0.005633489694446325,-0.027578119188547[...]
[...]
